<div class="container">
  <%= link_to "Retour", jobs_path, class: "go_back_Button" %>


  <div class="row">
    <div class= "header">
      <h2>Développe ton réseau</h2>
      <h3>Retrouve sur Linkedin les personnes qui font ce métier !</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">

      <div class="card-horizontal">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
        <div class="card-horizontal-description">
         <h2>Seb Sau</h2>
          <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le ,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend</p>
        </div>
        <div class="footer-links1"> <a href="#"><i class="fab fa-linkedin"></i></a> </div>
      </div>

    </div>


    <div class="col-xs-12">

      <div class="card-horizontal">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
        <div class="card-horizontal-description">
         <h2>Seb Sau</h2>
          <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le ,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend </p>
        </div>
         <div class="footer-links1"> <a href="#"><i class="fab fa-linkedin"></i></a> </div>
      </div>

    </div>


    <div class="col-xs-12">

      <div class="card-horizontal">
        <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/ssaunier">
        <div class="card-horizontal-description">
         <h2>Seb Sau</h2>
          <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le ,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend </p>
        </div>
         <div class="footer-links1"> <a href="#"><i class="fab fa-linkedin"></i></a> </div>
      </div>

    </div>
  </div>

</div>
