// Specific CSS for your home-page
.row {
  height: 25vh;
}

.container-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6vh;
  margin-bottom: 4vh;
  flex-wrap: wrap;
  min-height: 25vh;
}

.card {
  width: 30%;
  min-width: 305px;
  padding: 1em;

}

.card-title {
  color: $purple-invia;
  display: flex;

}

.card-title i {
  margin-top: 1em;
  padding-right: 0.5em;
  font-size: 20px;

}

.card-title h3 {
  font-size: 22px;
  font-weight: light;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.card-description {
  color: $grey-invia;
  font-weight: lighter;
  opacity: 0.6;
  font-size: 17px;
  text-align: justify;
  text-justify: inter-word;
}

.functions-container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 4em;
}

.functions-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2em;

  & .one-function {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $purple-invia;
    width: 300px;
    padding: 1em;
    & .description {
      color: $grey-invia;
      font-weight: lighter;
    }

    & i {
       font-size: 54px;
    }
  }
}

.different-background {
  background-color: white;
  padding-top: 1em;
}
