// Specific CSS for your home-page

body {
  background-color: white;
}

.container-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7vh;
  margin-bottom: 4vh;
  flex-wrap: wrap;
  min-height: 25vh;
}

.card {
  width: 20%;
  min-width: 305px;
  padding: 1em;

}

.card-title {
  color: $purple-invia;
  display: flex;

}

.card-title i {
  margin-top: 0.3em;
  padding-right: 0.8em;
  font-size: 20px;

}

.card-title h3 {
  font-weight: light;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.card-description {
  font-weight: lighter;
  text-align: justify;
}

.different-background {
  padding-top: 1em;
}

.functions-container-button {
  margin-top: 2em;
  margin-bottom: 6em;
  display: flex;
  justify-content: center;
}

.functions-container {
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2em;

  & .one-function {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $purple-invia;
    width: 300px;
    padding: 1em;
    & .description {
      color: $grey-invia;
      font-weight: lighter;
    }

    & i {
       font-size: 44px;
    }
  }
}


