// Specific CSS for your home-page
.container-content {
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  padding: 15px;
  margin-left: 35px;
}

.card-title {
  font-size: 14px;
  color: $purple-invia;
  display: flex;

}

.card-title i {
  margin-top: 1em;
  padding-right: 0.5em;
  font-size: 20px;

}

.card-title h3 {
  font-size: 22px;
  font-weight: light;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.card-description {
  color: $grey-invia;
  font-weight: lighter;
  opacity: 0.6;
  font-size: 17px;
  text-align: justify;
  text-justify: inter-word;
}


.functions-container {
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 5%;
  flex-wrap: wrap;
  & .one-function {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $purple-invia;
    width: 250px;
    & .description {
      color: $grey-invia;
      font-weight: lighter;
      font-size: 17px;
    }
    & h3 {
      font-size: 22px;
    }
    & i {
       font-size: 54px;
    }
  }
}

.different-background {
  background-color: white;
  padding-top: 2em;
}


#creerCompteBtn {
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}
