// Specific CSS for your home-page
.container-content {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  width: 400px;
  padding: 15px;
  margin-left: 35px;
}

.card-title {
  font-size: 14px;
  color: $purple-invia;
  display: flex;

}

.card-title i {
  margin-top: 1em;
  padding-right: 0.5em;
  font-size: 20px;

}

.card-title h3 {
  font-size: 22px;
  font-weight: light;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.card-description {
  color: $grey-invia;
  font-weight: lighter;
  opacity: 0.6;
  font-size: 17px;
  text-align: justify;
  text-justify: inter-word;
}
