.bannerV2 {
  color: white;
  text-align: center;
  height: 95vh;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.banner-contentV2 {
  margin-top: 12em;
}


.container-headerV2 {
  width: 46em;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-item: center;
  padding: 1em 1.5em;
  h2 {
    color: $grey-invia;
    margin-bottom: 1em;
    opacity: 0.8;
    text-align: left;
    margin-left: 0.5em;
    font-weight: bold;
  }
}




