.titles {
  text-align: center;
    & h1 {
    color: $purple-invia;
    font-size: 20px;
    }
    & h2 {
    color: $grey-invia;
    font-size: 12px
    }
}

.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px; width: 100%;
  position:relative;
}
 .MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left
}

.MultiCarousel .leftLst{
  position:absolute;
  border-radius:50%;
  top:calc(50% - 20px);
  left:0;
  color: $purple-invia;
  &.over {
    pointer-events: none;
    background:#ccc;
    color: $grey-invia;
  }
}

.MultiCarousel .rightLst {
  position:absolute;
  border-radius:50%;
  top:calc(50% - 20px);
  right:0;
  color: $purple-invia;
  &.over {
    pointer-events: none;
    background:#ccc;
    color: $grey-invia;
  }
}

