.retour {
  margin-top: 1em;
  margin-left: 6em;
}

.titles {
  margin-bottom: 3em;
}

.avatar-large {
  margin-top: 1.5em;
}

.footer-links1 a {
  color: $purple-invia;
  font-size: 30px;
}

.container {
  min-height: calc(100vh - 50px)
}
