.container {
  font-family: Raleway;
}

.header {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.title {
  color: $purple-invia;
  font-size: 30px;
  font-family: Raleway;
  padding: 15px;
}

.description {
  color: $grey-invia;
  font-size: 20px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.formation-map {
  display: flex;
}

.formations {
  width: 40%;
}

.map {
  width: 60%;
  height: 350px;
  margin-left: 50px;
  margin-top: 50px;
}


.formation {
  height: 175px;
  color: $purple-invia;
  background-color: white;
  border: 1px solid $purple-invia;
  margin: 40px 0px;
  position: relative;

}
.see-map {
  position: absolute;
  right: 10px;
  top: -17px;
}
.diploma {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
}
.formation-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.formation-description h3 {
  font-size: 15px;
}

.ctaButton {
  font-weight: bold;
  width: 130px;
  font-size: 13px;
  padding: 7px 5px;
  margin: 0px;
}
