.container {
  font-family: Raleway;
  height: 90%;
}

.header {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}


.show_title {
  color: $purple-invia;
  font-size: 30px;
  padding: 5px 0px;
  text-align:center;
  }

.back {
  color: $purple-invia;
  font-size: 15px;
  padding: 10px 0px;
  border:none;
  outline: none;
  background: none;
}

.description {
  color: $grey-invia;
  font-size: 20px;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 10px 0px;
}


.row.extended {
 margin-left: -130px;
 margin-right: -130px;
}


.formation-map-parcours {
  display:flex;
  align-items: center;
}

.formations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.formation ul {
  height: 0px;
}

.formation.open ul {
  height: 150px;
  width: 300px;
}

.formation.open.diplomaButtons {
  background: white;
  border: 1px solid $purple-invia;
}
.list-group{
    max-height: 150px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.diploma-bt {
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  background: $purple-invia;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 1px rgba(17, 17, 17, 0.3);
  border:none;
  outline: none;
  margin-bottom: 10px;
}

.map-container {
  height: 500px;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0px -40px ;
  //border-left: 1px solid $purple-invia;
  //border-right: 1px solid $purple-invia;

}

.map {
  width: 450px;
  height: 450px;
}

.parcours {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  height: 450px;
}

.parcours-diplomas {
  font-size: 17px;
  border-bottom: 1px solid gray;
  padding-left: 5px;

}

.parcours-diplomas-schools{
}

.school_details {
  text-decoration: none;
  color: gray;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 15px;
}

.save_button {
  color: $purple-invia;
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 7px;
  border: 1px solid $purple-invia;
  outline: none;
  background:none ;
}

