.container {
  font-family: Raleway;
}

.header {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

.show_title {
  color: $purple-invia;
  font-size: 30px;
  font-family: Raleway;
  padding: 15px;
}

.description {
  color: $grey-invia;
  font-size: 20px;
}

.inputs {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.formation-map-parcours {
  margin-top: 35px;
}

.formations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 500px;
  margin-left: 50px;
  height: 380px;
}

.parcours {
  display:flex;
  flex-direction: column;
  margin-left: 150px;
}

.parcours-diplomas {
  font-size: 20px;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-left: 5px;

}

.parcours-diplomas-schools{
  border-left: 1px solid gray;
  height: 100px;
}



.list-group{
    max-height: 100px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

.formation-description {
  font-size: 20px;
}



.school_details {
  text-decoration: none;
  color: gray;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 15px;
}

.actions {
  display: flex;
}
