.header {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}


.show_title {
  color: $purple-invia;
  font-size: 30px;
  padding: 5px 0px;
  text-align:center;
  }

.back {
  color: $purple-invia;
  font-size: 15px;
  padding: 10px 0px;
  border:none;
  outline: none;
  background: none;
}

.header .description {
  color: $grey-invia;
  font-size: 20px;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.inputs {
  margin-top: 10px;
  padding: 10px 0px;
  background-color: $purple-invia;
}

.search-input {
  width: 20%;
  background-color:white;
  color: $purple-invia;
  font-family: Raleway;
  border: none;
  padding: none;
}

.search-inputBtn {
  width: 25%;
  background-color:$purple-invia;
  color: white ;
  font-family: Raleway;
  border: none;
  padding: none;
}

.row {
  margin-left: -100px;
  margin-right: -100px;
}


.formation-map-parcours {
  display:flex;
  align-items: center;
}

.formations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 430px;
}

.formation ul {
  height: 0px;
}

.formation.open ul {
  height: 150px;
  width: 230px;
}

.formation.open.diplomaButtons {
  background: white;
  border: 1px solid $purple-invia;
}
.list-group{
    max-height: 150px;
    margin-bottom: 10px;
    overflow:scroll;
    overflow-y: scroll;
}

.diplomaButtons {
  color: $purple-invia;
  font-size: 16px;
  padding: 10px 5px;
  border-radius: 7px;
  border: 1px solid $purple-invia;
  outline: none;
  background:none ;
  text-align: center;
  cursor: pointer;
}

.map-container {
  height: 500px;
}

.map {
  width: 450px;
  height: 450px;
}

.parcours {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  height: 450px;
}

.parcours-diplomas {
  font-size: 17px;
  border-bottom: 1px solid gray;
  padding-left: 5px;

}

.parcours-diplomas-schools{
}

.school_details {
  text-decoration: none;
  color: gray;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 15px;
}

.save_button {
  color: white;
  width: 200px;
  font-size: 15px;
  padding: 7px 10px;
  background: $purple-invia;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 1px rgba(17, 17, 17, 0.3);
  border:none;
  outline: none;
}

.fa-angle-double-down {
  color: $purple-invia;
  font-size: 30px;
  text-align: center;
  margin: 15px;
}

.infoWindow{
  height: 50px;
  font-family: Raleway;
  font-size: 20px;
  border: 2px solid $purple-invia;
}

.link-to-details {
  height: 50px;
  font-family: Raleway;
  font-size: 20px;
  border: 2px solid $purple-invia;
}
