.header {
  display: block;
  text-align: center;
}

.show_title {
  color: $purple-invia;
  font-size: 30px;
  padding: 5px 0px;
  text-align:center;
  }

.back {
  color: $purple-invia;
  font-size: 15px;
  padding: 10px 0px;
  border:none;
  outline: none;
  background: none;
}

.header .description {
  color: $grey-invia;
  font-size: 20px;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.inputs {
  margin-top: 10px;
  padding: 10px 0px;
  background-color: $purple-invia;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}


.search-input {
  width: 25%;
  height: 25px;
  background-color:white;
  color: $purple-invia;
  border: none;
  padding: none;
}

.search-inputB {
  width: 20%;
  background-color:$purple-invia;
  color: white ;
  font-family: Raleway;
  border: 1px solid white ;
  border-radius: 5px;
  padding: none;
  height: 25px;
}

.row-extended {
  margin-left: -100px;
  margin-right: -100px;
}


.formation-map-parcours {
  display:flex;
  align-items: center;
}

.formations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 380px;
}

.formation ul {
  height: 0px;
}

.formation.open ul {
  height: 120px;
  width: 190px;
}

.formation.open.diplomaButtons {
  border: 1px solid $grey-invia;
}
.list-group{
    //max-height: 150px;
    margin-bottom: 10px;
    overflow-y: scroll;
}

.diplomaButtons {
  color: $purple-invia;
  font-size: 15px;
  padding: 5px 5px;
  border-radius: 7px;
  border: 1px solid $purple-invia;
  outline: none;
  background:none ;
  text-align: center;
  cursor: pointer;
  max-width: 250px;
}

.map-container {
  height: 500px;
}

.map {
  width: 440px;
  height: 420px;
  margin-left: -15px;
  margin-top: 1px;
}

.parcours {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
  height: 330px;
}

.parcours-diplomas {
  font-size: 17px;
  border-bottom: 1px solid gray;
  padding-left: 5px;
  text-align:center;

}

.parcours-diplomas-schools{
}

.school_details {
  text-decoration: none;
  color: gray;
  border: 1px solid gray;
  border-radius: 25px;
  padding: 5px 10px;
  font-size: 15px;
}

.save_button {
  color: white;
  width: 200px;
  font-size: 15px;
  padding: 7px 10px;
  background: $purple-invia;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 1px rgba(17, 17, 17, 0.3);
  border:none;
  outline: none;
}

.fa-angle-double-down {
  color: $purple-invia;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.fa-angle-right {
  color: $purple-invia;
  font-size: 80px;
  text-align: center;
}

.link-to-details {
  height: 25px;
  font-size: 16px;
  color: $purple-invia;
}

.arrow {
  display:flex;
  align-items: center;
  height: 400px;
}

.modal-photo {
  height: 200px;
}

.photo-school {
  background-size: cover !important;
  background-position: center;
}
