.conteneur {
  min-height: calc(100vh-50px);
}

.back {
  color: $purple-invia;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border:none;
  outline: none;
  background: none;
  font-family: Raleway;
  text-decoration: none;
  cursor: pointer;
  margin-right: 5em;
  p {
    color: $purple-invia;
    padding-left: 1em;
  }
}

.header {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.show_title {
  color: $purple-invia;
  font-size: 30px;
  padding: 5px 0px;
  text-align:center;
  }

.header .description {
  color: $grey-invia;
  font-size: 20px;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.inputs {
  padding: 10px 0px;
  background-color: white;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 53em;
}

.white-big-container {
  background-color: white;
  margin-left: 1em;
  height: 40em;
}

.formations-parcours {
  display: flex;
  justify-content: space-around;
}

.extended {
  margin-top: 0.5em;
  margin-left: 40px;
  margin-right: 40px;
  font-family: Raleway;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 2px solid $light-grey-invia;
}

.inputs-place {
  display: flex;
  justify-content: space-evenly;
}


.search-input {
  border: 2px solid $light-grey-invia;
  width: 25%;
  height: 25px;
  padding: 0.5em;
  background-color: white;
  color: $grey-invia;
}

.search-inputB {
  width: 10%;
  background-color:$purple-invia;
  color: white ;
  font-family: Raleway;
  border: 1px solid white ;
  border-radius: 5px;
  padding: none;
  height: 30px;
}

.extendedtitles {
  display: flex;
  justify-content: left;
  margin-top: 1em;
  margin-left: 60px;
  margin-right: 60px;
  font-family: Raleway;
}

.extended h4 {
  font-size: 17px;
  color: $grey-invia;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.filtered {
  font-size: 16px;
  color: #333333;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  font-style: italic;
  margin-top: 10px;
}

.formation-map-parcours {
  display:flex;
  height: 70vh;
}

.map-container {
  padding: 0px;
  height: 560px;
}

.map {
  width: 100%;
  height: 100%;
}
.formations {

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5px;
  background-color: white;
}

.formation {
  width: 100%;
}
.formation ul {
  height: 0px;
}

.formation.open ul {
  height: auto;
  width: auto;
}

.formation.open.diplomaButtons {
  border: 1px solid $grey-invia;
}
.list-group{
    margin-bottom: 10px;
    overflow-y: scroll;
}

.list-group-item {
  background: none;
  color: $purple-invia;
  font-size: 14px;

}
.list-group-item:hover {
  background-color: #E5E5E5;
}

.diplomaButtons {
  color: $purple-invia;
  font-size: 15px;
  padding: 5px 5px;
  border-radius: 5px;
  outline: none;
  background:none ;
  text-align: center;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
}

.parcours {
  display:flex;
  flex-direction: column;
  align-items:center;
  height: 100%;
  padding: 0px;
  background-color: white;
}

.parcours-diplomas {
  text-align:center;
  height: 130px;
}

.diploma-name {
  font-size: 16px;
  text-align: center;
}



a.disabled {
    pointer-events: none;
    color: $light-purple-invia;
}

a.fas {
  color: $purple-invia;
  padding-left: 10px;
}

.added-element {
  text-decoration: none;
  color: gray;
  border-radius: 20px;
  padding: 5px 5px;
  font-size: 16px;
  font-family: Raleway;
}

.fa-times {
  color: gray;
}

.save_button {
  color: white;
  width: 100%;
  font-size: 14px;
  padding: 7px 10px;
  background: $purple-invia;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 1px rgba(17, 17, 17, 0.3);
  border:none;
  outline: none;
}

.fa-angle-double-left {
  color: $purple-invia;
  font-size: 15px;
}

.link-to-details {
  height: 25px;
  font-size: 16px;
  color: $purple-invia;
}

.modal-photo {
  height: 200px;
}

.photo-school {
  background-size: cover !important;
  background-position: center;
}

.modal-footer {
  text-align: left;
}
