.conteneur {
  min-height: calc(100vh-50px);
}

.back {
  color: $purple-invia;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  border:none;
  outline: none;
  background: none;
  font-family: Raleway;
  text-decoration: none;
  cursor: pointer;
  margin-right: 5em;
  p {
    color: $purple-invia;
    padding-left: 1em;
  }
}

.header {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

.show_title {
  color: $purple-invia;
  font-size: 30px;
  padding: 5px 0px;
  text-align:center;
  }

.header .description {
  color: $grey-invia;
  font-size: 20px;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.white-big-container {
  background-color: transparent;
  height: 42em;
  width: 100%;
  margin-left: 17em;
}

.formations-parcours {
  display: flex;
  justify-content: space-around;
  width: 100%
}

.extended {
  margin-top: 0.5em;
  margin-left: 40px;
  margin-right: 40px;
  font-family: Raleway;
  margin-bottom: 1em;
}

.inputs {
  padding: 10px 0px;
  background-color: white;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70px;
  width: 53em;
  border: 3px solid $light-grey-invia;
}

.inputs-place {
  display: flex;
  justify-content: space-evenly;
}


.search-input {
  border: 2px solid $light-grey-invia;
  width: 25%;
  height: 25px;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 12px;
  background-color: white;
  color: #777777;
  font-weight: bold;
}



.search-inputB {
  width: 15%;
  background-color:$purple-invia;
  font-size: 12px;
  font-weight: bold;
  color: white ;
  border: 1px solid white ;
  border-radius: 5px;
  padding: none;
  height: 30px;
}

.extendedtitles {
  display: flex;
  justify-content: left;
  margin-top: 1em;
  margin-left: 60px;
  margin-right: 60px;
  font-family: Raleway;
}

.extended h4 {
  color: $grey-invia;
  width: 100%;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
}

.bigline {
  width: 5em;
  border-bottom: 6px solid $grey-invia;
  opacity: 0.8;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  text-align: center;
}

.filtered {
  font-weight: bold;
  color: $grey-invia;
  width: 100%;
  margin-top: 2px;
  margin-bottom: 4px;
}


.formation-map-parcours {
  display:flex;
  height: 70vh;
}

.map-container {
  height: 42em;
}

.map {
  margin-top: 0.5em;
  width: 200%;
  height: 100%;
  border-radius: 3px;
}
.formations {
  width: 120%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 5px;
  background-color: white;
  border: 3px solid $light-grey-invia;
  border-radius: 2px;
  padding: 0.5em 2em;
  height: 85%
}

.formation {
  width: 100%;
}
.formation ul {
  height: 0px;
}

.formation.open ul {
  height: auto;
  width: auto;
}

.formation.open.diplomaButtons {
  border: 1px solid $grey-invia;
}
.list-group{
    margin-bottom: 10px;
    overflow-y: scroll;
}

.list-group-item {
  background: none;
  font-size: 14px;
  color: $grey-invia;
  text-align: center;
  border: none;
  text-align: center;
  padding-left: 3em;

}
.list-group-item:hover {
  background-color: #E5E5E5;
}

.diplomaButtons {
  cursor: pointer;
  text-align: center;
}


.parcours {
  display:flex;
  flex-direction: column;
  background-color: white;
  width: 18em;
  text-align: center;
  align-items:center;
  height: 85%;
  margin-bottom: 1em;
  border: 3px solid $light-grey-invia;
  border-radius: 2px;
  padding: 0.5em 1em;
}


.parcours-diplomas {
  text-align:center;
  height: 130px;
}

.diploma-name {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top: 0.4em;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 3px solid $light-grey-invia;
  border-top: 3px solid $light-grey-invia;
}

.displayflex a {
  display: flex;
  color: $grey-invia;
  text-align: center;
}

.fa-question:before {
   color: $purple-invia;
  margin-left: -0.6em;

}

li {
}

a.disabled {
    pointer-events: none;
    color: $light-purple-invia;
}

a.fas {
  color: $purple-invia;
  padding-left: 10px;
}

.added-element {
  text-decoration: none;
  color: $grey-invia;
  border-radius: 20px;
  padding: 5px 5px;
  font-size: 14px;
  margin-bottom: 0.5em;
  font-family: Raleway;
}

.fa-times {
  color: gray;
}

.save_button {
  font-size: 12px;
  margin-bottom: 7.5em;
}

.fa-angle-double-left {
  color: $purple-invia;
  font-size: 15px;
}

.link-to-details {
  height: 25px;
  font-size: 16px;
  color: $purple-invia;
}

.modal-photo {
  height: 200px;
}

.photo-school {
  background-size: cover !important;
  background-position: center;
}

.modal-footer {
  text-align: left;
}
