
<div class="titles"> <h1>Choisis le métier qui te plaît</h1>
<h2>Voici les propositions de métiers qui correspondent à tes passions !</h2></div>


<%= render "shared/form-jobs" %>

<div class="container-cards">

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card-vertical">
        <div class="heart"> <i class="far fa-heart"></i> </div>
        <img class="img-vertical" src="assets/datascientist.jpg">
        <div class="card-vertical-category"> <h2>Data-Scientist</h2> </div>

          <div class="card-vertical-description">
            <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation ! ions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves  </p>
          </div>


          <!-- Button trigger modal -->
          <div class="buttoncenter"> <a class="ensavoirplus underlined" href="#exampleModalLong" data-toggle="modal" >En savoir plus...</a> </div>


        <div class="buttoncenter down"> <a  class="ctaButton" href="#" title="Les formations">Les formations</a> </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
       <div class="card-vertical">
        <div class="heart"><i class="far fa-heart"></i></div>
        <img class="img-vertical" src="assets/datascientist.jpg">
        <div class="card-vertical-category"> <h2>Data-Scientist</h2> </div>

          <div class="card-vertical-description">
            <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation ! ions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves  </p>
          </div>

        <div class="buttoncenter"> <a class="ensavoirplus underlined" href="#">En savoir plus...</a> </div>
        <div class="buttoncenter down"> <a  class="ctaButton" href="#" title="Les formations">Les formations</a> </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
       <div class="card-vertical">
        <div class="heart"><i class="far fa-heart"></i></div>
        <img class="img-vertical" src="assets/datascientist.jpg">
        <div class="card-vertical-category"> <h2>Data-Scientist</h2> </div>

          <div class="card-vertical-description">
            <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation ! ions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves  </p>
          </div>

        <div class="buttoncenter"> <a class="ensavoirplus underlined" href="#">En savoir plus...</a> </div>
        <div class="buttoncenter down"> <a  class="ctaButton" href="#" title="Les formations">Les formations</a> </div>
      </div>
    </div>
  </div>

  <div class="arrow" >  <a href=""></a> <i class="fas fa-angle-double-right"></i> </div>

</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="popup-titre"> <h2>Data-Scientist</h2> </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="popup-image" style="background-image: url('assets/datascientist.jpg')"></div>

        <div class="popup-description">
          Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation ! ions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves.
        </div>
        <button type="button" class="ctaButton">Développe ton réseau</button>
      </div>

    </div>
  </div>
</div>
