;

document.getElementById("ModalLong").querySelector('.popup-titre').innerHTML= '<h2><%= @job.name %></h2>';
document.getElementById("ModalLong").querySelector('.popup-image').style.backgroundImage = "url('<%= @job.url %>')";
document.getElementById("ModalLong").querySelector('.popup-description').innerHTML = "<%= @job.description %>";

document.getElementById("job-modal-trigger").click();



