<div id="school_details" class="modal fade" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        <div class="modal-photo"></div>
        <div class="modal-header">
          <h3></h3>
          <h4></h4>
          <h5></h5>
        </div>
          <div class="modal-body"></div>
      </div>
    </div>
  </div>
