<div class="navbar-invia">
  <!-- Logo -->
  <a href="/" class="navbar-invia-brand">
    <img src="assets/logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-invia-right hidden-xs hidden-sm">

    <a href="" class="navbar-invia-item navbar-invia-link">Recherche</a>
    <a href="" class="navbar-invia-item navbar-invia-link">Dashboard</a>
    <a href="" class="navbar-invia-item navbar-invia-link">Blog</a>

    <!-- Profile picture with dropdown list -->
    <div class="navbar-invia-item">
      <div class="dropdown">
        <img src="" class="avatar dropdown-toggle" id="navbar-invia-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-invia-dropdown-menu">
          <li><a href="#">Modifier le profil</a></li>
          <li><a href="#">Paramètres du compte</a></li>
          <li><a href="#">Déconnexion</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-invia-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-invia-dropdown-menu">
        <li><a href="#">Recherche</a></li>
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</div>

