<div class="container">

  <div class="row">
      <div class= "header">
        <h1>Tes élements sauvegardés</h1>
        <h3>Clique sur tes métiers et retrouve tes parcours sauvegardés</h3>
    </div>
  </div>




  <div class="row">
      <div class="col-md-5 col-lg-5">
        <div class="dashboard-jobs" style="display: flex">
          <% ["Développeur", "Trader", "Coiffeur"].each do |job|%>
          <div><%=job%> en card airbnblike</div>
          <% end %>

        </div>
       </div>
  </div>








</div>
