<div class="container">

  <div class="row">
      <div class= "header">
        <h1>Tes élements sauvegardés</h1>
        <h3>Clique sur tes métiers et retrouve tes parcours sauvegardés</h3>
    </div>
  </div>


  <% @jobs.each do |job|%>

    <div class="flip">
      <div class="front" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('<%= job.url %>')">
        <h1 class="text-shadow"><%= job.name %></h1>
      </div>
      <div class="back">
        <p>Clique sur le parcours de ton choix</p>
        <% job.studies.each do |study| %>
        <%= link_to "#{job.studies.index(study) +1} - #{study.name}", dashboard_study_path(study) %>
        <% end %>
      </div>

    </div>


  <% end %>





</div>
