<div class="container">

  <div class="row">
      <div class= "header">
        <h1>Tes élements sauvegardés</h1>
        <h3>Clique sur tes métiers et retrouve tes parcours sauvegardés</h3>
    </div>
  </div>



  <div class="dashboard-jobs-container">
    <% ["Développeur", "Trader", "Coiffeur"].each do |job|%>
    <div class="dashboard-jobs-card"><%=job%> en card airbnblike</div>
    <% end %>

  </div>


  <div class="flip">
      <div class="front" style="background-image: url(/assets/datascientist.jpeg)">
         <h1 class="text-shadow">DEVELOPPEUR</hi>
      </div>
      <div class="back">
         <h2>Clique sur le parcours de ton choix</h2>
         <p><a href="#">Ecole post-bac</a> | <a href="#">Prépa</a></p>
      </div>
  </div>
  <div class="flip">
      <div class="front" style="background-image: url(/assets/datascientist.jpeg)">
         <h1 class="text-shadow">TRADER</hi>
      </div>
       <div class="back">
         <h2>Clique sur le parcours de ton choix</h2>
         <p><a href="#">Ecole post-bac</a> | <a href="#">Prépa</a></p>
      </div>
  </div>
  <div class="flip">
      <div class="front" style="background-image: url(/assets/datascientist.jpeg)">
         <h1 class="text-shadow">COIFFEUR</hi>
      </div>
       <div class="back">
         <h2>Clique sur le parcours de ton choix</h2>
         <p><a href="#">Ecole post-bac</a> | <a href="#">Prépa</a></p>
      </div>
  </div>








</div>
