
<div class="container">

  <div class="card-vertical">
    <img class="img-vertical" src="assets/datascientist.jpg">
    <div class="card-vertical-category"> <h2>Data-Scientist</h2> </div>

      <div class="card-vertical-description">
        <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation ! </p>
      </div>

    <div class="ensavoirplus"> <a href="#">En savoir plus...</a> </div>
    <div class="ctaButton"> <a href="#">Les formations</a> </div>

  </div>

</div>






<!--
<div class="banner" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('assets/banner.png')">
  <div class="banner-content">
    <h1>Fais de ta passion, ton métier</h1>
    <h2>Invia se base sur tes passions et te propose les métiers qui te correspondent.</h2>
  </div>
</div>
<a class="ctaButton" href="#" title="Comment ça marche ?">Comment ça marche ?</a>

  <div class="container-content">

  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <div class="card">
        <div class="card-title">
          <i class="fas fa-heart"></i>
          <h3>Trouve un métier passion</h3>
        </div>
        <div class="card-description">
          <p>Découvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <div class="card">
        <div class="card-title">
          <i class="fas fa-magic"></i>
          <h3>Créé ton parcours sur-mesure</h3>
        </div>
        <div class="card-description">
          <p>Découvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <div class="card">
        <div class="card-title">
          <i class="fas fa-stream"></i>
          <h3>Compose ton parcours</h3>
        </div>
          <div class="card-description">
          <p>Découvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !</p>
        </div>
      </div>
    </div>
  </div>
</div>
 -->








