<div class="bannerV2" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.30), rgba(149, 49, 198, 0.10)), url('https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0a61bab8c6f01c30f8c3654d172ece6&auto=format&fit=crop&w=1652&q=80')">

  <div class="banner-contentV2">

    <div class="container-headerV2">
      <h2>Indique nous tes passions afin de trouver le métier qui te correspond</h2>
      <div class="formhome"> <%= render "shared/form-home" %> </div>
    </div>
  </div>

</div>
