
<div class="banner" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('assets/banner.png')">
  <div class="banner-content">
    <h1>Fais de ta passion, ton métier</h1>
    <h2>Invia se base sur tes passions et te propose les métiers qui te correspondent.</h2>
  </div>
  <a class="ctaButton" href="#" title="Comment ça marche ?">Comment ça marche ?</a>
</div>

<div class="container-content">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <div class="card">
        <div class="card-title">
          <i class="fas fa-heart"></i>
          <h3>Trouve un métier passion</h3>
        </div>
        <div class="card-description">
          <p>Découvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !</p>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <div class="card">
        <div class="card-title">
          <i class="fas fa-magic"></i>
          <h3>Créé ton parcours sur-mesure</h3>
        </div>
        <div class="card-description">
          <p>Découvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <div class="card">
        <div class="card-title">
          <i class="fas fa-stream"></i>
          <h3>Compose ton parcours</h3>
        </div>
          <div class="card-description">
          <p>Découvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="different-background">
  <div class="title">Comment ça marche ?</div>


  <div class="functions-container">
    <div class="one-function">
      <i class="far fa-file-alt"></i>
      <h3>1</h3>
      <h3>Inscris-toi</h3>
      <div class="description">Indique-nous tes matières favorites et tes centres d’intêret.</div>
    </div>
    <div class="one-function">
      <i class="fas fa-graduation-cap"></i>
      <h3>2</h3>
      <h3>Choisis ton métier</h3>
      <div class="description">Nous te proposons une liste de métiers, formations et établissements qui correspondent à tes passions.</div>
    </div>
    <div class="one-function">
      <i class="fas fa-cubes"></i>
      <h3>3</h3>
      <h3>Compose ton parcours</h3>
      <div class="description">Construis ton dashboard pour retrouver et affiner la liste des métiers qui te plaisent.</div>
    </div>
  </div>

  <div class="title">Ce que nos utilisateurs en pensent</div>
  <div class="reviews-container">
    <div class="one-review">
      <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar-large"/>
      <div class="one-review-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <div class="one-review-author">Martin Dys, élève de Terminale S</div>
      </div>
    </div>
    <div class="one-review">
      <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar-large"/>
      <div class="one-review-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <div class="one-review-author">Martin Dys, élève de Terminale S</div>
      </div>
    </div>
    <div class="one-review">
      <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar-large"/>
      <div class="one-review-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <div class="one-review-author">Martin Dys, élève de Terminale S</div>
      </div>
    </div>
    <div class="one-review">
      <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="avatar-large"/>
      <div class="one-review-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <div class="one-review-author">Martin Dys, élève de Terminale S</div>
      </div>
    </div>
  </div>
</div>

