<div class="banner" style="background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(<%= image_path '/assets/banner.png'%>)">

  <div class="banner-content">
    <%= link_to "Se connecter", new_user_session_path, class: "loginButton" %>

    <h1>Fais de ta passion, ton métier</h1>
    <h2>Invia se base sur tes passions et te propose les métiers qui te correspondent.</h2>
    <button type="button" class="ctaButton" href="#ancre" title="Comment ça marche ?">Comment ça marche ?</button>
  </div>
</div>

<div class="container-content">
  <div class="card">
    <div class="card-title">
      <i class="fas fa-heart"></i>
      <h4>Trouve un métier passion</h4>
    </div>
    <div class="card-description">
      <p>Nous sommes partis d'un constat simple : tu t'épanouies dans ton métier lorsque tu aimes ce que tu fais. Et quoi de mieux que de lever le matin en voulant aller travailler ?</p>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <i class="fas fa-magic"></i>
      <h4>Eclaircie tes idées</h4>
    </div>
    <div class="card-description">
      <p>En l'absence d'information claire, tu as tendance à faire des choix scolaires par défaut ? Reprend le contrôle de ton orientation et aborde cette période sereinement !</p>
    </div>
  </div>
  <div class="card">
    <div class="card-title">
      <i class="fas fa-stream"></i>
      <h4>Choisis ton parcours</h4>
    </div>
      <div class="card-description">
      <p>Les parcours pour accéder à un métier sont nombreux et offrent des opportunités parfois insoupçonnées alors n'attends plus et découvre ton futur maintenant !</p>
    </div>
  </div>
</div>

<div class="different-background" id="ancre">



  <div class="title"><h3>Comment ça marche ?</h3></div>

<div class="functions-container-button">

  <div class="functions-container">
    <div class="one-function">
      <i class="far fa-file-alt"></i>
      <h2>1</h2>
      <h4>Inscris-toi</h4>
      <div class="description">C'est simple et rapide! Il te suffit ensuite de nous indiquer tes matières favorites et tes passions.</div>
    </div>
    <div class="one-function">
      <i class="fas fa-graduation-cap"></i>
      <h2>2</h2>
      <h4>Choisis ton métier</h4>
      <div class="description">Nous te proposons une liste de métiers qui te correspondent. Tu n'auras plus qu'à te laisser guider pour découvrir les parcours possible y accéder.</div>
    </div>
    <div class="one-function">
      <i class="fas fa-cubes"></i>
      <h2>3</h2>
      <h4>Compose ton parcours</h4>
      <div class="description">Au fur et à mesure de ta visite, tu peux sauvegarder tes résultats pour pouvoir les consulter plus tard.</div>
    </div>
  </div>

  <div class="ctaButtonHome"><%= link_to "Créer un compte", new_user_registration_path, class: "ctaButton" %></div>

</div>



  <div class="title"><h3>Ce qu'ils en pensent</h3></div>
  <div class="reviews-container">
    <div class="one-review">
      <img src='/assets/rachid.png' class="avatar-large"/>
      <div class="one-review-description">Je ne savais pas ce que je voulais faire dans la vie donc j'ai voulu surfer sur le net pour trouver l'inspiration. J'ai vite été confrontée à un manque d'information claire jusqu'à ce que je tombe sur votre site. Je pense enfin avoir trouvé ma voie, merci Invia !
        <div class="one-review-author">Rachid Bjork, élève de Terminale L</div>
      </div>
    </div>
    <div class="one-review">
      <img src='/assets/mario.png' class="avatar-large"/>
      <div class="one-review-description">J'ai toujours su que je voulais faire médecine mais j'avoue que le parcours restait flou pour moi. Grâce à Invia, j'ai pu en apprendre un peu plus sur mes possibilités. Je suis maintenant décidé à devenir neurologue !
        <div class="one-review-author">Mario Tournier, élève de Terminale S</div>
      </div>
    </div>
    <div class="one-review">
      <img src='/assets/mathieu.png' class="avatar-large"/>
      <div class="one-review-description">L'orientation était vraiment une source de stress pour moi. D'autant que dans ma filière, le manque d'information est encore plus flagrant qu'ailleurs. Je suis contente d'avoir pu faire appel à Invia pour avoir les idées plus claires.
        <div class="one-review-author">Mathieu Géboulin, élève de Terminale STMG</div>
      </div>
    </div>
    <div class="one-review">
      <img src='/assets/martine.png' class="avatar-large"/>
      <div class="one-review-description">Je voulais faire un métier hors du commun mais j'étais un peu perdue parmi toutes les possiblités qui s'offraient à moi. Maintenant j'ai enfin trouvé ma voie : la ferronerie.
        <div class="one-review-author">Martine Dys, élève de Terminale ST2I</div>
      </div>
    </div>
  </div>
</div>
