<div class="container-cards">
  <img class="card-job" src="">
    <div class="card-category">Data-Scientist</div>
    <div class="card-vertical-description">
      <p>Very cool city, the best,écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation !écouvre le métier de tes rêves qui correspond à tes passions, fini les choix scolaires par défaut. Reprend le contrôle de ton orientation ! </p>
    </div>

    <div class="ensavoirplus"><a href="#">En savoir plus...</a></div>
    <div class="ctaButton"> <a href="#">Les formations</a> </div>

  </div>
</div>
