<div class="container">

<button type="button" class="go_back_Button">Retour</button>


    <div class= "header">
      <div class="title"> Choisis les établissement qui te plaisent</div>
      <div class="description">Ce parcours se déroule en <%= @study.diplomas.length%> étapes, choisis tes établissements pour chaque formation ! </div>
      <div class="inputs">
        <input type="text" placeholder="Ville">
        <input type="text" placeholder="Selectivité">
        <input type="text" placeholder="Coût de la formation">
      </div>
    </div>

    <div class="formation-map">
      <div class="formations">
        <%@study.diplomas.each do |diploma|%>
        <div class="formation">
          <div class="diploma"><%=diploma.name.capitalize%></div>
          <div class="formation-description">
            <h3>Les établissements que tu vas sélectionner</h3></div>
            <div class="see-map"><button class="ctaButton">Afficher sur le plan</button></div>
          </div>
        <% end %>
      </div>

      <div id="map" class="map" data-markers="<%= @markers.to_json %>">
      </div>
    </div>
</div>
