.banner {
  color: white;
  text-align: center;
  height: 60vh;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.banner h1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner h2 {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}


.banner .ctaButton {
  margin-bottom: -1.5em;
  margin-top: 3em;
}

.banner .go_back_Button {
  position: fixed;
  right: 1em;
  top: 1em;
  border-radius: 3px;
  color: $purple-invia;
  border-color: $purple-invia;
  font-size: 17px;
}
