.banner {
  color: white;
  text-align: center;
  height: 65vh;
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.banner h1 {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.banner h2 {
  font-weight: lighter;
  color: rgb(255, 255, 255);
  margin-bottom: 1em;
}


.banner .ctaButton {
  margin-bottom: -1.5em;
  margin-top: 3em;
}
