.ctaButton {
  padding: 1em;
  background: $purple-invia;
  border-radius: 3px;
  color: white;
  z-index: 1;
  box-shadow: 0px 0px 5px 1px rgba(17, 17, 17, 0.3);
  font-weight: lighter;
  text-decoration: none;
  border:none;
  outline: none;
  position: absolute;
}

.ctaButton:hover{
  box-shadow: 0px 0px 5px 1px rgba(17, 17, 17, 0.3) inset;
  color: white;
  text-decoration: none;
  border:none;
  outline:none;
}
