
.card-vertical {
  width: 18em;
  background-color: white;
  background-position: center;
  color: black;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #E6E6E6;
  margin: 0em 2em;
}
.img-vertical {
  width: 15em;
  margin-left: 1.5em;
  margin-top: 0em;
  border-radius: 2px;
  text-align: center;
}

.heart {
  color: $purple-invia;
  margin-left: 17.5em;
}
.card-vertical-category {
  font-size: 15px;
  text-transform: uppercase;
}

.card-vertical-category h2 {
  margin-left: 1.5em;
  letter-spacing: 1px;
  font-size: 18px;
  color: $purple-invia;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.card-vertical-description p {
  margin-left: 1em;
  color: $grey-invia;
  font-weight: lighter;
  letter-spacing: -0.5px;
  opacity: 0.6;
  font-size: 12px;
  text-align: justify;
  padding: 0em 1.5em 0em 1.5em;
}

.buttoncenter {
  text-align: center;
}

.ensavoirplus {
  color: $purple-invia;
  font-weight: lighter;
  font-size: 10px;
  color: $purple-invia;
  margin-top: 1em;
}

.ensavoirplus:visited {
  color: $purple-invia;
  text-decoration: none;
}

.ensavoirplus.underlined {
   text-decoration: none;
}

.ensavoirplus:hover {
  color: $light-purple-invia;
}

.ctaButton:active {
  color: $purple-invia;
  text-decoration: none;
}

.down {
  margin-top: 2em;
  font-size: 12px;
}
