.card-vertical {
  position: relative;
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #E6E6E6;
  padding: 1.5em;
  margin-top: 18px;
  margin-bottom: 40px;

}
.img-vertical {
  height: 120px;
  border-radius: 3px;
  background-size: cover !important;
  background-position: center;
}

.container-title-text {
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-vertical .new_profile_saved_info {
  position: absolute;
  background-color: transparent;
  right: -18px;
  top: -18px;
  font-size: 26px;
  border-color: transparent;
  color: $purple-invia;
}
.card-vertical button {
  background-color: transparent;
  border-color: transparent;
  color: $purple-invia;
}

.card-vertical-category {
  font-size: 15px;
  text-transform: uppercase;
}

.card-vertical-category h2 {
  letter-spacing: 1px;
  font-size: 18px;
  color: $purple-invia;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}



.card-vertical .ctaButton{
  position: relative;
  bottom: -120px;
  right: -60px;
}

.buttoncenter {
  text-align: center;
}

.ensavoirplus {

  color: $purple-invia;
  margin-top: 1em;
}

.ensavoirplus:visited {
  color: $purple-invia;
  text-decoration: none;
}

.ensavoirplus.underlined {
   text-decoration: none;
}

.ensavoirplus:hover {
  color: $light-purple-invia;
}

.ctaButton:active {
  color: $purple-invia;
  text-decoration: none;
}

.down {
  margin-top: 2em;
  font-size: 12px;
}
