
.card-vertical {
  position: relative;
  width: 300px;
  height: 500px;
  background-color: white;
  border-radius: 3px;
  box-shadow: 2px 2px 4px #E6E6E6;
  padding: 1.5em;
  margin-top: 10px;
  margin-bottom: 27px;

}
.img-vertical {
  height: 180px;
  border-radius: 2px;
  background-size: cover !important;
  background-position: center;
}

.container-title-text {
  height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.heart {
  position: absolute;
  color: $purple-invia;
  right: -10px;
  top: -10px;
}
.card-vertical-category {
  font-size: 15px;
  text-transform: uppercase;
}

.card-vertical-category h2 {
  letter-spacing: 1px;
  font-size: 18px;
  color: $purple-invia;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
}
.card-vertical-description p {
  color: $grey-invia;
  font-weight: lighter;
  letter-spacing: -0.5px;
  opacity: 0.6;
  font-size: 12px;
  text-align: justify;

}


.ctaButton{
  bottom: -30px;
  right: 115px;
  position: absolute;
  display: block;
  font-size: 15px;
}

.buttoncenter {
  text-align: center;
}

.ensavoirplus {
  color: $purple-invia;
  font-weight: lighter;
  font-size: 10px;
  color: $purple-invia;
  margin-top: 1em;
}

.ensavoirplus:visited {
  color: $purple-invia;
  text-decoration: none;
}

.ensavoirplus.underlined {
   text-decoration: none;
}

.ensavoirplus:hover {
  color: $light-purple-invia;
}

.ctaButton:active {
  color: $purple-invia;
  text-decoration: none;
}

.down {
  margin-top: 2em;
  font-size: 12px;
}
