.savoirplus {
  color: $purple-invia;
}

.card-vertical {
  height: 25em;
  width: 15em;
  background-color: white;
  background-position: center;
  color: black;
  border-radius: 2px;
}
.img-vertical {
  width: 10em;
  border-radius: 2px;
  text-align: center;
}
.card-vertical-category {
  font-size: 15px;
  text-transform: uppercase;
}
.card-vertical-description {

}
.card-vertical-category h2 {
  font-size: 24px;
}
.card-vertical-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
