.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 350px;
  .front, .back {
    display: block;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: .5s;
    transition-property: transform, opacity;
    width: inherit;
    background-size: cover!important;
    background-position: center!important;
    height: 100%;
    padding: 1em 2em;
    background: #313131;
    border-radius: 10px;
  }
  .front {
    transform: rotateY(0deg);
    color: white;
  }
  .back {
    position: absolute;
    background-color: white;
    color: $purple-invia;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  &:hover {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
  &.flip-vertical {
    .back {
      transform: rotateX(-180deg);
    }
    &:hover {
      .front {
        transform: rotateX(180deg);
      }
      .back {
        transform: rotateX(0deg);
      }
    }
  }
}

