.container-cards-dashboard {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;

}


.fa-times-circle {
  color: $purple-invia;
  outline: none;
  position: absolute;
  background-color: transparent;
  right: 4px;
  top: 4px;
  font-size: 26px;
  border-color: transparent;
}

.map-dashboard {
  width: 350px;
  height: 300px;
  margin-left: -30px;
  margin-top: 5px;
  border-radius: 8px;

}

.flip {
  position: relative;

  margin-right: 1em;
  margin-bottom: 1em;
  width: 350px;
  .front, .back {
    display: block;
    transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
    transition-duration: .5s;
    transition-property: transform, opacity;
    width: inherit;
    background-size: cover!important;
    background-position: center!important;
    height: 340px;
    padding: 1em 2em;
    background: white;
    border-radius: 10px;
    & h3 {
      text-align: center;
    }
    & a {
      text-align: center;
    }
  }
  .front {
    transform: rotateY(0deg);
  }
  .back {
    position: absolute;
    background-color: white;
    color: $purple-invia;
    opacity: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: rotateY(-180deg);
  }
  &:hover {
    .front {
      transform: rotateY(180deg);
    }
    .back {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }
  &.flip-vertical {
    .back {
      transform: rotateX(-180deg);
    }
    &:hover {
      .front {
        transform: rotateX(180deg);
      }
      .back {
        transform: rotateX(0deg);
      }
    }
  }
}

