.containerjob {
  display: flex;
  margin-left: -2em;
}

.celljob {
   border-radius: 3px;
   margin-right: 1.5em;

}

.formjob {
  border: 2px solid $light-grey-invia;
  border-radius: 3px;
  height: 2.5em;
  font-family: Raleway;
  font-weight: bold;
  padding-left: 1em;
  width: 25em;
}

.invisible {
  border: none;
  background-color: transparent;
}


