.form-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  & .ctaButton {
    padding: 0.4em;
  }
}
.cell {
   width: 29em;
}
.form-control {
  border-radius: 3px;
}


