.popup {
  border-radius: 3px;
 }

.popup-image {
  height: 180px;
  border-radius: 3px;
  background-size: cover !important;
  background-position: center;
}

.popup-titre {
  color: $purple-invia;
  text-transform: uppercase;
  & h2 {
    color: $purple-invia;
  }
}


.modal-header {
  & span {
    position: absolute;
    top: 0.7em;
    right: 0.7em;
  }
}

.modal-content {
  padding: 1.5em;
}
