.reviews-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2em;
}

.one-review {
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
}

.one-review-description {
  color: $grey-invia;
  font-weight: lighter;

  margin: 1em;
  line-height: 1em;
}

.one-review-author {
  color: $purple-invia;
  font-weight: lighter;
  font-size: 14px;
  opacity: 1;
  margin-top: 1em;
}
