.title {
  height:0.1em;
  width:100%;
  padding:0px;
  background:$purple-invia;
  overflow:visible;
  position:relative;
  color:$purple-invia;
}
.title h3 {

  background-color:#FFFFFF;
  top:-1.3em;
  margin-left:50%;
  transform: translateX(-50%);
  padding: 0 16px;
  display:inline;
  position:absolute;
}


.header {
  display: block;
  margin-bottom: 5px;
  text-align: center;
}

